
cmake-build-release/steptetris
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/steptetris.dir/main.cpp.o
cmake-build-release/CMakeFiles/rules.ninja
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/3.23.2/CompilerIdCXX/a.out
cmake-build-release/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.23.2/CompilerIdC/a.out
cmake-build-release/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/cmake_install.cmake
cmake-build-release/build.ninja
cmake-build-release/.ninja_log
cmake-build-release/.ninja_deps
cmake-build-release/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
cmake-build-release/.cmake/api/v1/reply/target-steptetris-Release-6b4133739972ed73a1df.json
cmake-build-release/.cmake/api/v1/reply/index-2023-11-17T13-04-11-0889.json
cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-0422eb40aa1e5eee9e59.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-78f51e29ba3ed0e83dfd.json
cmake-build-release/.cmake/api/v1/reply/cache-v2-cd90b7ab82d38db3fc39.json
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/steptetris
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/steptetris.dir/main.cpp.o
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdCXX/a.out
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/a.out
cmake-build-debug/CMakeFiles/3.23.2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.23.2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.23.2/CMakeCCompiler.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cmake_install.cmake
cmake-build-debug/build.ninja
cmake-build-debug/.ninja_log
cmake-build-debug/.ninja_deps
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ee5ca47e57a615ee224c.json
cmake-build-debug/.cmake/api/v1/reply/target-steptetris-Debug-1d8228fe1882546b3188.json
cmake-build-debug/.cmake/api/v1/reply/index-2023-11-17T13-04-11-0942.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-38ccc46c050de9c48325.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-487642d624196bf0d8cc.json
cmake-build-debug/.cmake/api/v1/reply/cache-v2-2204dbe489fdccd39d06.json
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/cache-v2
.idea/vcs.xml
.idea/.name
.idea/Cpp1DOTask_StepTetris.iml
.idea/misc.xml
.idea/modules.xml
